/* ================================================================================================================== */
/*                                                                                                                    */
/*                                               Star Wars Animations 44                                              */
/*                                                                                                                    */
/* ================================================================================================================== */

/*
========================================================================================================================
	<.../>
========================================================================================================================
*/

body {

	background: url("page.png") center fixed no-repeat;
	background-size: cover;
	margin: 5%;
	text-align: center;
	text-shadow: 2px 2px 2px #000000;
	color: #fedcba;
	font-size: 200%;
	font-family: bahnschrift;

}

img {

	width: 75%;
	filter: drop-shadow(3px 3px 1px #000000);

}

table {

	border: 3px solid #abcdef;
	border-radius: 22px;
	width: 90%;
	margin: auto;
	box-shadow: 3px 3px 2px #000000;
	background-color: rgb(0, 0, 0, 0.25);
	background-size: cover;

}

table a {

	font-weight: normal;
}

th {

	border: 4px solid #abcdef;
	border-radius: 20px;
	padding: 10px 10px;
	box-shadow: 2px 2px 2px #000000;
	width: 16.67%;

}

nav {

	text-align: left;
	font-size: 60%;

}

h1 {

	padding: 10px 10px;
	border-radius: 30px;
	color: #ffffff;
	text-shadow: 3px 3px 2px #000000;
	background-color: #abcedf;
	font-size: 150%;
	box-shadow: 3px 3px 2px #000000;

}

a {

	color: #fedcba;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
	transition: color 0.1s ease-in-out;

}

a:hover {

	color: #abcdef;

}

button {

	font-family: bahnschrift;
	background-color: transparent;
	border: 4px #abcedf solid;
	border-radius: 15px;
	color: #fedcba;
	font-size: 95%;
	text-shadow: 2px 2px 2px #000000;

}

button:hover {

	cursor: pointer;
	border: 4px #fedcba solid;
	color: #abcdef;

}

p {

	font-size: 50%;
	width: 80%;
	margin: auto;
	border-radius: 20px;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0, 0, 0, 0.25);
	padding: 5px 5px;

}

div {

	position: relative;

}

/*
========================================================================================================================
	class = "..."
========================================================================================================================
*/

.tdText {

	border: 2px solid #abcdef;
	border-radius: 20px;
	box-shadow: 2px 2px 2px #000000;

}

.icon {

	width: 3%;

}

.tdVoid {

	border: 0;
	box-shadow: 0 0 0;

}

.graphics {

	border-radius: 20px;
	width: 40%;
	box-shadow: 2px 2px 2px #000000;
}

.tableText {

	width: 80%;
	margin: auto;

}

.tableText td {

	padding: 1%;

}

/*
========================================================================================================================
	gestion des plans
========================================================================================================================
*/

.foreground, .foregroundTall {

	left: 12.5%;

}

.foreground2, .foregroundTall2 {

	left: 31.3%;

}

.foreground3, .foregroundTall3 {

	left: 37.5%;

}

.foreground4, .foregroundTall4 {

	left: 40.8%;

}

.foreground5, .foregroundTall5 {

	position: absolute;
	top: 0;
	left: 42.55%;

}

.foreground, .foregroundTall, .foreground2, .foregroundTall2, .foreground3, .foregroundTall3, .foreground4, .foregroundTall4, .foreground5, .foregroundTall5 {
	/* tous les premiers plans doivent avoir ces paramètres */

	position: absolute;
	top: 0;
	filter: drop-shadow(0 0 0);

}

.foregroundTall, .foregroundTall3, .foregroundTall4 {
	/* tous les premiers plans de type haut doivent êtres recentrés */

	top: -5%;

}

/*
========================================================================================================================
	redimensionner les images dans les colones plus larges
========================================================================================================================
*/

.colspan2 img {

	width: 37.5%;

}

.colspan3 img {

	width: 25%;

}

.colspan4 img {

	width: 18.5%;

}

.colspan5 img {

	width: 14.9%;

}

/*
========================================================================================================================
	chaque unité a une couleur caractéristique
========================================================================================================================
*/

.battalion104 {

	background-color: #585858;

}

.battalionAttack169 {

	background-color: #901d18;

}

.battalionAttack212 {

	background-color: #ff7f27;

}

.companyTango {

	background-color: #688ea9;

}

.corpsElite41 {

	background-color: #0b3416;

}

.corpsNova21 {

	background-color: #643264;

}

.corpsReconnaissanceMobile91 {

	background-color: #e21c1c;

}

.corpsStar327 {

	background-color: #f0be28;

}

.guardCoruscent {

	background-color: #88001b;

}

.legion7 {

	background-color: #af8867;

}

.legion501 {

	background-color: #0000a0;

}

.securityKamino {

	background-color: #0000a0;

}

/*
========================================================================================================================
	id  = "..."
========================================================================================================================
*/

#titleAurebesh img {

	width: 5%;
	margin-bottom: -0.5%;
	margin-right: -0.5%;
	margin-left: -0.5%;
	transition: opacity 1s ease-in-out;

}

#titleAurebesh .aurebeshNumbers {

	width: 4%;
	margin-bottom: -0.8%;
	margin-right: -0.5%;
	margin-left: -0.5%;

}

/* ================================================================================================================== */
/*                                                                                                                    */
/*                                               Star Wars Animations 44                                              */
/*                                                                                                                    */
/* ================================================================================================================== */