/*===================================================================================================================*/
/*                                                                                                                   */
/*                                              Star Wars Animations 44                                              */
/*                                                                                                                   */
/*===================================================================================================================*/

/*===================================================================================================================*/
/*	<...>*/
/*===================================================================================================================*/

a {
	color: #fedcba;
	font-style: italic;
	text-decoration: none;
	transition: color 0.1s ease-in-out;
}

a:hover {color: #abcdef;}

body {
	background: url(common/page.png) center fixed no-repeat;
	background-size: cover;
	margin: 5%;
	text-align: center;
	text-shadow: 2px 2px 2px #000000;
	color: #fedcba;
	font-size: 200%;
	font-family: bahnschrift;
}

button {
	font-family: bahnschrift;
	background-color: transparent;
	border: 4px #abcedf solid;
	border-radius: 15px;
	color: #fedcba;
	font-size: 95%;
	text-shadow: 2px 2px 2px #000000;
}

button:hover {
	cursor: pointer;
	border: 4px #fedcba solid;
	color: #abcdef;
}

div {position: relative;}

h1, .divTitle {
	padding: 10px 10px;
	border-radius: 30px;
	color: #ffffff;
	text-shadow: 3px 3px 2px #000000;
	font-size: 150%;
	font-weight: bold;
	box-shadow: 3px 3px 2px #000000;
	margin-bottom: 3%;
	margin-top: 3%;
	background-color: #abcedf;
}

iframe {
	border: 0;
	width: 100%;
	aspect-ratio: 5266 / 1000;
}

img {
	width: 75%;
	filter: drop-shadow(3px 3px 1px #000000);
}

nav {
	text-align: left;
	font-size: 60%;
	font-weight: bold;
}

p {
	font-size: 50%;
	width: 80%;
	margin: auto;
	border-radius: 20px;
	text-shadow: 1px 1px 1px #000000;
	text-align: justify;
	text-indent: 15%;
	background-color: rgba(0, 0, 0, 0.25);
	padding: 1% 1%;
}

span {font-family: Baskerville Old Face}

table {
	border: 3px solid #abcdef;
	border-radius: 22px;
	width: 90%;
	margin: auto;
	box-shadow: 3px 3px 2px #000000;
	background-color: rgb(0, 0, 0, 0.25);
	background-size: cover;
	overflow-x: auto;
}

td {width: 16.67%;}
.tableText td {padding: 1%;}

#tableValidation td {
	border: 0;
	box-shadow: 0 0;
	padding: 5%;
}

.trText td, .tdText {
	padding: 2px 5px;
	border: 2px solid #abcdef;
	border-radius: 20px;
	box-shadow: 2px 2px 2px #000000;
}

th {
	border: 4px solid #abcdef;
	border-radius: 20px;
	padding: 10px 10px;
	box-shadow: 2px 2px 2px #000000;
}

/*===================================================================================================================*/
/*	class = ...*/
/*===================================================================================================================*/

.pDetails {
	text-align: center;
	text-indent: 0;
}

.imgIcon {
	width: 3%;
	filter: drop-shadow(0px 0px 1px #ffffff);
}

.imgRandomHelmet {width: 25%;}

.tableText {
	width: 80%;
	margin: auto;
}

.divValidation:hover {cursor: pointer;}

/*===================================================================================================================*/
/*	foregrounds management*/
/*===================================================================================================================*/

.imgForeground {left: 12.50%;}
.imgForegroundColspan2 {left: 31.30%;}
.imgForegroundColspan3 {left: 37.50%;}
.imgForegroundColspan4 {left: 40.80%;}
.imgForegroundColspan5 {left: 42.55%;}

.imgForeground, .imgForegroundColspan2, .imgForegroundColspan3, .imgForegroundColspan4, .imgForegroundColspan5 {
	position: absolute;
	top: 0;
	filter: drop-shadow(0 0 0);
}

.img18001600 {top: -5.00%;}
.img20001600 {top: -11%;}

.tdColspan2 img {width: 37.50%;}
.tdColspan3 img {width: 25.00%;}
.tdColspan4 img {width: 18.50%;}
.tdColspan5 img {width: 14.90%;}

/*===================================================================================================================*/
/*	own color of each unit*/
/*===================================================================================================================*/

.battalion104 {background-color: #5a5a5a;}
.battalionAttack169 {background-color: #911e19;}
.battalionAttack212 {background-color: #ff7f27;}
.companyTango {background-color: #698caa;}
.corpsElite41 {background-color: #0a3214;}
.corpsNova21 {background-color: #643264;}
.corpsReconnaissanceMobile91 {background-color: #e11e1e;}
.corpsStar327 {background-color: #f0be28;}
.guardCoruscent {background-color: #870019;}
.legion7 {background-color: #af8769;}
.legion501 {background-color: #0000a0;}
.securityKamino {background-color: #5a5a5a;}

.niteOwls {background-color: #195587}
.superCommando {background-color: #64141e}

/*===================================================================================================================*/
/*	id = ...*/
/*===================================================================================================================*/

#divTable {overflow-x: auto;}

#tableValidation {
	background-color: transparent;
	border: 0;
	box-shadow: 0 0;
}

/*===================================================================================================================*/
/*	nav HTML files*/
/*===================================================================================================================*/

#navMandalorians {aspect-ratio: 4575 / 1000;}
#navMandaloriansUnits {aspect-ratio: 3752 / 1000;}
#navRepublic {aspect-ratio: 4575 / 1000;}
#navRepublicUnits {aspect-ratio: 1866 / 1000;}

#navValidation {
	width: 25%;
	aspect-ratio: 3200 / 1000;
}

/*===================================================================================================================*/
/*	languages*/
/*===================================================================================================================*/

#aurebeshTitle img {
	width: 5%;
	margin-bottom: -0.5%;
	margin-right: -0.5%;
	margin-left: -0.5%;
}

#aurebeshTitle .imgAurebeshNumbers {
	width: 4%;
	margin-bottom: -0.8%;
}

#mandoaTitle img {
	width: 3%;
	margin-top: -0.5%;
	margin-bottom: -1.3%;
	margin-right: -0.5%;
	margin-left: -0.5%;
}

#mandoaTitle .imgMandoaNumbers {
	width: 2%;
	margin-top: -0.5%;
	margin-bottom: -1.3%;
	margin-right: -0.5%;
	margin-left: -0.5%;
}

/*===================================================================================================================*/
/*                                                                                                                   */
/*                                              Star Wars Animations 44                                              */
/*                                                                                                                   */
/*===================================================================================================================*/