/*===================================================================================================================*/
/*                                                                                                                   */
/*                                              Star Wars Animations 44                                              */
/*                                                                                                                   */
/*===================================================================================================================*/

/*===================================================================================================================*/
/*                                                                                                                   */
/*===================================================================================================================*/

a {
	color: #fedcba;
	font-style: italic;
	text-decoration: none;
	transition: color 0.1s ease-in-out;
}
a:hover {color: #abcdef;}

body {
	background: url(common/page.png) center fixed no-repeat;
	background-size: cover;
	margin: 5%;
	text-align: center;
	text-shadow: 2px 2px 2px #000000;
	color: #fedcba;
	font-size: 200%;
	font-family: bahnschrift;
}

button {
	font-family: bahnschrift;
	background-color: transparent;
	border: 4px #abcedf solid;
	border-radius: 15px;
	color: #fedcba;
	font-size: 95%;
	text-shadow: 2px 2px 2px #000000;
}
button:hover {
	cursor: pointer;
	border: 4px #fedcba solid;
	color: #abcdef;
}

div {position: relative;}
.validation:hover {cursor: pointer;}
#table {overflow-x: auto;}

h1, .title {
	padding: 10px 10px;
	border-radius: 30px;
	color: #ffffff;
	text-shadow: 3px 3px 2px #000000;
	font-size: 150%;
	font-weight: bold;
	box-shadow: 3px 3px 2px #000000;
	margin-bottom: 3%;
	margin-top: 3%;
	background-color: #abcedf;
}

iframe {
	border: 0;
	width: 100%;
	aspect-ratio: 5266 / 1000;
}

img {
	width: 75%;
	filter: drop-shadow(3px 3px 1px #000000);
}
.img-icon {
	width: 3%;
	filter: drop-shadow(0px 0px 1px #ffffff);
}
.img-random-helmet {width: 25%;}

nav {
	text-align: left;
	font-size: 60%;
	font-weight: bold;
}
#nav-home {aspect-ratio: 4544 / 1000}
#nav-empire {aspect-ratio: 4575 / 1000;}
#nav-empire-units {aspect-ratio: 1866 / 1000;}
#nav-mandalorians {aspect-ratio: 4575 / 1000;}
#nav-mandalorians-units {aspect-ratio: 3752 / 1000;}
#nav-republic {aspect-ratio: 4575 / 1000;}
#nav-republic-units {aspect-ratio: 1866 / 1000;}
#nav-validation {
	width: 25%;
	aspect-ratio: 3200 / 1000;
}

p {
	font-size: 50%;
	width: 80%;
	margin: auto;
	border-radius: 20px;
	text-shadow: 1px 1px 1px #000000;
	text-align: justify;
	text-indent: 15%;
	background-color: rgba(0, 0, 0, 0.25);
	padding: 1% 1%;
}

span {font-family: baskerville old face;}
.span-separation {padding-right: 2%;}

table {
	border: 3px solid #abcdef;
	border-radius: 22px;
	width: 90%;
	margin: auto;
	box-shadow: 3px 3px 2px #000000;
	background-color: rgb(0, 0, 0, 0.25);
	background-size: cover;
	overflow-x: auto;
}
.table-text {
	width: 80%;
	margin: auto;
}
#table-validation {
	background-color: transparent;
	border: 0;
	box-shadow: 0 0;
}

td {width: 16.67%;}
.table-text td {padding: 1%;}
.tr-text td, .td-text {
	padding: 2px 5px;
	border: 2px solid #abcdef;
	border-radius: 20px;
	box-shadow: 2px 2px 2px #000000;
}
#table-validation td {
	border: 0;
	box-shadow: 0 0;
	padding: 5%;
}

th {
	border: 4px solid #abcdef;
	border-radius: 20px;
	padding: 10px 10px;
	box-shadow: 2px 2px 2px #000000;
}

/*===================================================================================================================*/
/*	foregrounds management*/
/*===================================================================================================================*/

.img-foreground {left: 12.50%;}
.img-foreground-colspan-2 {left: 31.30%;}
.img-foreground-colspan-3 {left: 37.50%;}
.img-foreground-colspan-4 {left: 40.80%;}
.img-foreground-colspan-5 {left: 42.55%;}

.img-foreground,
.img-foreground-colspan-2,
.img-foreground-colspan-3,
.img-foreground-colspan-4,
.img-foreground-colspan-5 {
	position: absolute;
	top: 0;
	filter: drop-shadow(0 0 0);
}

.img-1800x1600 {top: -5.00%;}
.img-2000x1600 {top: -11%;}

.td-colspan-2 img {width: 37.50%;}
.td-colspan-3 img {width: 25.00%;}
.td-colspan-4 img {width: 18.50%;}
.td-colspan-5 img {width: 14.90%;}

/*===================================================================================================================*/
/*	own color of each unit*/
/*===================================================================================================================*/

.battalion-104 {background-color: #5a5a5a;}
.battalion-attack-169 {background-color: #911e19;}
.battalion-attack-212 {background-color: #ff7f27;}
.company-tango {background-color: #698caa;}
.corps-elite-41 {background-color: #0a3214;}
.corps-nova-21 {background-color: #643264;}
.corps-reconnaissance-mobile-91 {background-color: #e11e1e;}
.corps-star-327 {background-color: #f0be28;}
.guard-coruscent {background-color: #870019;}
.legion-7 {background-color: #af8769;}
.legion-501 {background-color: #0000a0;}
.security-kamino {background-color: #5a5a5a;}

.nite-owls {background-color: #195587}
.super-commando {background-color: #64141e}

/*===================================================================================================================*/
/*	languages*/
/*===================================================================================================================*/

#aurebesh img {
	width: 5%;
	margin-bottom: -0.5%;
	margin-right: -0.5%;
	margin-left: -0.5%;
}

#aurebesh .img-aurebesh-numbers {
	width: 4%;
	margin-bottom: -0.8%;
}

#mandoa-title img {
	width: 3%;
	margin-top: -0.5%;
	margin-bottom: -1.3%;
	margin-right: -0.5%;
	margin-left: -0.5%;
}

#mandoa-title .img-mandoa-numbers {
	width: 2%;
	margin-top: -0.5%;
	margin-bottom: -1.3%;
	margin-right: -0.5%;
	margin-left: -0.5%;
}

/*===================================================================================================================*/
/*                                                                                                                   */
/*                                              Star Wars Animations 44                                              */
/*                                                                                                                   */
/*===================================================================================================================*/